################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JavaDocConverterExtension/bin/Debug
/JavaDocConverterExtension/obj
/JavaDocConverterExtension2022/obj
/JavaDocConverterExtension2022/bin/Debug
